*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gallerysection{
    display: flex;
    width: 1000px;
    margin: auto;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 60px;
}
.galleryimg{
    flex-basis: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 10px;
}
.galleryimg img{
    max-width: 100%;
    display: block;
    border-radius: 10px;
    height: 390px;
    width: 100%;
    object-fit: cover;
}
.gallerytitlesection{
    padding-top: 60px;
    padding-bottom: 0px;
}

.heading{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.aboutus{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.aboutussection{
    background-color: #e7e7e7;
    padding-top: 60px;
    padding-bottom: 60px;
}
h1{
    font-size: 50px;
    margin: 0;
    color: #bd0000;
    margin-bottom: 18px;
}
h2{
    font-size: 50px;
    margin: 0; 
}
h3{
    font-size: 50px;
    margin: 0;
}
p{
   font-size: 18px; 
   max-width: 600px;
   margin-top: 10px;
   margin-left: auto;
   margin-right: auto;
   line-height: 1.4em;
}
img{
    max-width: 100%;
    display: block;
}
.knowaboutussection{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.colomn_01{
    flex-basis: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 30px;
}
.colomn_02{
    flex-basis: 50%;
    max-width: 50%;
}
p span{
    background-color: #bd0000;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: inline-block;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0px;
}
h3 span{
    color: #bd0000;
}